/* --- SKILLS CARD --- */
.skills-card {
  background: #210042;
  padding: 20px;
  border-radius: 16px;
  border: 1px solid #5200a8;
  margin-bottom: 15px;
  transition: 0.2s ease-in-out;
}

.skills-card:hover {
  border-color: #7a29ff;
  box-shadow: 0 0 15px rgba(143, 0, 255, 0.25);
}

/* HEADER WITH EDIT BUTTON */
.skills-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.skills-card-header h4 {
  font-size: 18px;
  color: #e5d3ff;
}

.edit-btn {
  background: #7a29ff;
  border: none;
  padding: 6px 8px;
  border-radius: 8px;
  cursor: pointer;
  color: white;
  font-size: 15px;
  transition: 0.2s ease-in-out;
}

.edit-btn:hover {
  background: #b387ff;
}

/* THE FORM */
.form-wrapper {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.form-wrapper h3 {
  font-size: 22px;
  color: #d7c3ff;
  margin-bottom: 10px;
}

/* INPUT FIELDS */
.form-wrapper input {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  background: #2a005a;
  border: 1px solid #6b00e6;
  color: white;
  outline: none;
}

.form-wrapper input::placeholder {
  color: #bda2ff;
}

/* SAVE BUTTON */
.save-btn {
  background: #7a29ff;
  width: fit-content;
  padding: 10px 22px;
  border: none;
  border-radius: 10px;
  color: white;
  margin-top: 15px;
  cursor: pointer;
  transition: 0.2s;
}

.save-btn:hover {
  background: #a86bff;
}
