/* Page wrapper */
.login-background {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #4c3c6c;
  background-image: url("../assets/BG2.png");
  background-size: 800px;
  background-repeat: repeat;
}
