/* --- MAIN WRAPPER --- */
.skills-exp-wrapper {
  display: flex;
  gap: 30px;
  padding: 30px;
  background: #0f001f;
  min-height: 100vh;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
}

/* LEFT SECTIONS */
.view-columns {
  width: 65%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.skills-column,
.exp-column {
  background: #15002c;
  padding: 20px;
  border-radius: 18px;
  border: 1px solid #3b0085;
  box-shadow: 0px 0px 25px rgba(125, 0, 255, 0.2);
}

.skills-column h3,
.exp-column h3 {
  margin-bottom: 20px;
  font-size: 22px;
  color: #c29fff;
}

/* RIGHT EDITOR PANEL */
.editor-container {
     width: 55%;
  background: #1a0033;
  padding: 25px;
  border-radius: 18px;
  border: 1px solid #5200a8;
  box-shadow: 0 0 25px rgba(100, 0, 200, 0.25);
}
