.login-card {
     font-family: 'Roboto', sans-serif;
  width: 420px;
  background: #1a103c;
  padding: 40px;
  border-radius: 26px;
  text-align: center;
  color: white;
  box-shadow: 0 12px 40px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(4px);
}


.login-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;   /* Centers horizontally */
  align-items: center;       /* Centers vertically */
 
}


.login-title {
  margin: 0;
  font-size: 26px;
  font-weight: 600;
}

.login-subtitle {
  font-size: 14px;
  color: #cfcfcf;
  margin-bottom: 30px;
}


.login-input {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.35);
  color: white;
  outline: none;
  font-size: 14px;
  transition: 0.2s;
}

.login-input:focus {
  border-color: #c084fc;
}


.form-group {
  margin-bottom: 18px;
  width: 385px;
}


.options-row {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  margin-bottom: 20px;
  color: #d3d3d3;
}

.remember-box input {
  margin-right: 6px;
}

.forgot-link {
  color: #d3d3d3;
  text-decoration: none;
}

.forgot-link:hover {
  text-decoration: underline;
}

/* Login Button */
.login-btn {
  width: 100%;
  padding: 12px;
  background: rgba(255, 255, 255, 0.25);
  border: none;
  border-radius: 8px;
  font-size: 15px;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

.login-btn:hover {
  background: rgba(255, 255, 255, 0.35);
}


.error-text {
  color: #ff6b6b;
  background: rgba(255, 80, 80, 0.1);
  padding: 10px 15px;
  border-radius: 10px;
  text-align: center;
  font-size: 14px;
  margin-bottom: 15px;
}
