.project-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border-bottom: 1px solid #2a2a2a;
  gap: 70px;
  color: white;
  font-family: 'Inter', sans-serif;
}

.row-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.row-img {
  width: 50px;
  height: 50px;
  border-radius: 6px;
  object-fit: cover;
}


