.custom-editor .quill {
     background-color: #2e2344;
    border-radius: 8px;
    border: 1px solid #d90dfc;
  overflow: hidden;
  transition: border-color 0.3s ease;
}


.custom-editor .ql-toolbar {
background-color: #a855f7;
  border-bottom: 1px solid #3f3f5f !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
}


.custom-editor .ql-stroke {
  stroke: #ccc !important;
}
.custom-editor .ql-fill {
  fill: #ccc !important;
}
.custom-editor .ql-picker {
  color: #ccc !important;
}

.custom-editor .ql-container {
  border: none !important;
  min-height: 100px;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
}

.ql-editor {
  text-align: left !important;
  direction: ltr !important;
}


[dir="rtl"] .ql-editor {
  text-align: right !important;
  direction: rtl !important;
}

[dir="rtl"] .ql-editor ul > li,
[dir="rtl"] .ql-editor ol > li {
  text-align: right;
  direction: rtl;
}




.custom-editor .quill:focus-within {
  border-color: #a855f7; 
}


.custom-editor .ql-editor.ql-blank::before {
  color: #aaa;
  font-style: normal;
  left: 15px; 
  right: auto;
}

[dir="rtl"] .custom-editor .ql-editor.ql-blank::before {
  right: 15px; 
  left: auto;
  text-align: right;
}